#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.payment-dashboard {
  width: 100%;
}

.transaction-list {
  width: 100%;
}

.transaction-list__item {
  border: 1px solid #ddd;
  list-style-type: none;
  margin-bottom: 20px;
  width: 100%;
}

.date-filter {
  display: flex;
  column-gap: 20px;
}

.date-filter__item {
  display: flex;
  flex-wrap: wrap;
}

.date-filter__item label {
  display: block;
  text-align: left;
  width: 100%;
}